on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Setup Pana
        run: flutter pub global activate pana

      - name: Get dependencies
        run: flutter pub get

      - name: Lint
        run: dart format -o none --set-exit-if-changed .

      - name: Analyze
        run: dart analyze

      - run: flutter test --coverage

      - uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: ./coverage/lcov.info

      - name: Pana
        run: pana
